.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(42, 206, 42);
}

.logoLink {
  display: flex;
  align-items: center;
}

.navbar > Search {
  margin: 0 auto; /* pushes search to center */
}